<main class="main_body">
    <section>
        <div class="container">
            <div class="row discription">
                <div class="col  d-flex align-items-center justify-content-between">
                    <div class="discription-txt d-flex flex-column">
                        <h3>Bitcoin Swap <br>DAO</h3>
                        <p>Decentralizing funding and governance to make bitcoin Swap self-sustaining and censorship-resistant.</p>
                        <p class="DAO">bitcoin Swap DAO (decentralized autonomous organization) is built on bitcoin.</p>
                        <button type="button" class="btn">See more</button>
                    </div>
                </div>
                <div class="col">
                    <div class="discription-img d-flex">
                        <img src="../../assets/img/img1.JPG" class="w-100" alt="">
                    </div>
                </div>
            </div>
            <div class="row revenue d-flex align-items-center">
                <div class="col">
                    <div class="discription-img">
                        <img src="../../assets/img/img2.JPG" class="w-100" alt="">
                    </div>
                </div>
                <div class="col ">
                    <div class="revenue-txt d-flex flex-column">
                        <a class="rounded" href="#">WHY?</a>
                        <p>
                            Revenue distribution and decision-making cannot be decentralized with traditional organization structures-they require legal entities, jurisdictions, bank accounts, and more-all of which are central points of failure.
                        </p>
                        <p>
                            The Bisq DAO replaces such legacy infrastructure with cryptographic infrastructure to handle project decision- making and revenue distribution without such central points of failure.
                        </p>
                        <a class="rounded" href="#">Learn more about the DAO ></a>
                    </div>
                </div>
            </div>
            <div class="row revenue2">
                <div class="col d-flex align-items-center justify-content-between">
                    <div class="revenue-txt d-flex flex-column">
                        <a class="rounded" href="#">WHAT IS THE BITCOIN SWAP?</a>
                        <p>
                            Through the BSQ token (colored bitcoin), the Bisq DAO enables value transfer from traders to contributors without centrally-held bank accounts or wallets.
                        </p>
                        <p>
                            This enables trading fees to be distributed to project contributors without any banks, corporations, or other legal entities-keeping Bisq stateless & sovereign
                        </p>
                        <a class="rounded" href="#">Learn more about the DAO ></a>
                    </div>
                </div>
                <div class="col">
                    <div class="discription-img">
                        <img src="../../assets/img/img3.JPG" class="w-100" alt="">
                    </div>
                </div>
            </div>
            <div class="row revenue d-flex align-items-center ">
                <div class="col">
                    <div class="discription-img">
                        <img src="../../assets/img/img4.JPG" class="w-100" alt="">
                    </div>
                </div>
                <div class="col">
                    <div class="distribution d-flex flex-column">
                        <a class="rounded" href="#">HOW DOES IT WORK?</a>
                        <h5>Revenue distribution</h5>
                        <p>
                            To distribute revenue from trading fees to contributors, Bisq uses BSQ-a Bitcoin-based colored coin. Contributors are issued new BSQ for their work, and BSQ is "burned" when traders use it to pay trading fees.
                        </p>
                        <p>
                            There is no central entity that collects or creates Swap stakeholders vote on each issuance request. <br>
                            <small>There was never an ICO. No BSQ is sold to raise capital.</small>
                        </p>
                        <h5>Decision-making</h5>
                        <p>
                            With no CEO or central leadership team, Swap stakeholders- traders and contributors are the owners of Swap.
                        </p>
                        <p>
                            Through social consensus (via voting) they determine Swap project strategy.
                        </p>
                        <a class="rounded" href="#">Learn more about the DAO ></a>
                    </div>
                </div>
            </div>
            <div class="row revenue2">
                <div class="col d-flex align-items-center justify-content-between">
                    <div class="distribution d-flex flex-column">
                        <a class="rounded" href="#">HOW DOES IT WORK?</a>
                        <h5>Traders: Make Bisq sustainable</h5>
                        <ul class="p-3">
                            <li>
                                Help Bisq deliver consistent professional development and support by buying BSQ from contributors
                            </li>
                            <li>
                                Help make Bisq the go-to censorship-resistant bitcoin-to-fiat and bitcoin-to-crypto marketplace
                            </li>
                            <li>
                                Enjoy a discount if you use BSQ to pay trading fees
                            </li>
                            <li>
                                You can still pay trading fees with plain BTC if you like
                            </li>
                        </ul>
                        <h5>Contributors: Earn BSQ</h5>
                        <ul class="p-3">
                            <li>
                                Do valuable work, request compensation, earn BSQ
                            </li>
                            <li>
                                Sell BSQ on Bisq for BTC
                            </li>
                            <li>
                                Vote on compensation requests of other contributors
                            </li>
                            <li>
                                Work on cutting-edge technology with a cutting-edge culture
                                Swap collaboration is permissionless, non-hierarchical, and fluid
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="discription-img">
                        <img src="../../assets/img/img5.JPG" class="w-100" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container learn">
            <div class="row mt-5 ">
                <div class="col">
                    <h3>What to learn more?</h3>
                    <p>You can learn more about the Bisq DAO from the resources below, from high-level ELI5-style docs and videos to the technical specification for developers.</p>
                </div>
            </div>
            <div class="row mt-4 overview">
                <div class="col">
                        <p>
                            CONCEPTUAL OVERVIEW - DOC
                            Plain-language description of the DAO
                        </p>
                </div>
                <div class="col">
                    <p>
                        BISQ DAO IN BRIEF - VIDEOS Quick, short video series on the Bisq DAO.
                    </p>
                </div>
            </div>
            <div class="row mt-4 overview">
                <div class="col">
                        <p>
                            CONCEPTUAL OVERVIEW - DOC
                            Plain-language description of the DAO
                        </p>
                </div>
                <div class="col">
                    <p>
                        BISQ DAO IN BRIEF - VIDEOS Quick, short video series on the Bisq DAO.
                    </p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <p>See more resources on our All About the Bisq DAO doc</p>
                </div>
            </div>
        </div>
    </section>
</main>