<div class="container main_body">
    <div class="row">
        <div class="col">
            <table class="table caption-top custom-table">
                <caption>BSWP Blocks</caption>
                <tbody>
                    <tr>
                        <th scope="row">Existing amount</th>
                        <td>3,345,342,00 BSWP</td>
                    </tr>
                    <tr>
                        <th scope="row">Minted amount</th>
                        <td>5,345,342,00 BSWP</td>
                    </tr>
                    <tr>
                        <th scope="row">Burnt amount</th>
                        <td>2,934,032,00 BSWP</td>
                    </tr>
                    <tr>
                        <th scope="row">Addresses</th>
                        <td>234,234.00</td>
                    </tr>
                    <tr>
                        <th scope="row">Unspent TXOs</th>
                        <td>2,345</td>
                    </tr>
                    <tr>
                        <th scope="row">Spent TXOs</th>
                        <td>10,234</td>
                    </tr>
                    <tr>
                        <th scope="row">Price</th>
                        <td class="text-yellow">$1.69</td>
                    </tr>
                    <tr>
                        <th scope="row">Market cap</th>
                        <td class="text-yellow">$7,555,555.50</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>