<div class="container main_body">
    <div class="row mt-5">
        <div class="col">
            <div class="caption d-flex justify-content-between align-items-center ">
                <div>
                    <p class="table-head m-0" >BSWP Transaction</p>
                </div>
            </div>
            <table class="table page1">
                <thead>
                    <tr>
                        <th>Height</th>
                        <th>Confirmed</th>
                        <th>Total sent</th>
                        <th>Transaction</th>   
                    </tr>
                </thead>
                <tbody >
                    <tr>
                        <td>711172</td>
                        <td>1 hour ago</td>
                        <td>9.08 BSWP</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>711172</td>
                        <td>1 hour ago</td>
                        <td>9.08 BSWP</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>711172</td>
                        <td>1 hour ago</td>
                        <td>9.08 BSWP</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>711172</td>
                        <td>1 hour ago</td>
                        <td>9.08 BSWP</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>711172</td>
                        <td>1 hour ago</td>
                        <td>9.08 BSWP</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>711172</td>
                        <td>1 hour ago</td>
                        <td>9.08 BSWP</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>711172</td>
                        <td>1 hour ago</td>
                        <td>9.08 BSWP</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>711172</td>
                        <td>1 hour ago</td>
                        <td>9.08 BSWP</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>711172</td>
                        <td>1 hour ago</td>
                        <td>9.08 BSWP</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>711172</td>
                        <td>1 hour ago</td>
                        <td>9.08 BSWP</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>711172</td>
                        <td>1 hour ago</td>
                        <td>9.08 BSWP</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>711172</td>
                        <td>1 hour ago</td>
                        <td>9.08 BSWP</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>711172</td>
                        <td>1 hour ago</td>
                        <td>9.08 BSWP</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>711172</td>
                        <td>1 hour ago</td>
                        <td>9.08 BSWP</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>711172</td>
                        <td>1 hour ago</td>
                        <td>9.08 BSWP</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>711172</td>
                        <td>1 hour ago</td>
                        <td>9.08 BSWP</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>711172</td>
                        <td>1 hour ago</td>
                        <td>9.08 BSWP</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>711172</td>
                        <td>1 hour ago</td>
                        <td>9.08 BSWP</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>711172</td>
                        <td>1 hour ago</td>
                        <td>9.08 BSWP</td>
                        <td>2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
